@import url("https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tirra:wght@400;500;600;700;800;900&display=swap");

* {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  font-family: "PT Serif", serif;
  font-weight: 600;
  font-style: normal;
  background-color: #1a7474;
}
dd {
  margin-left: 10px;
  line-height: 26px;
}

.wrapper {
  margin: auto;
  width: 75%;
  padding-top: 100px;
}
.container {
  background-color: ivory;
  box-shadow:
    2px 2px 10px,
    -2px -2px 10px;
  padding: 3rem;
  max-width: 992px;
  margin: 0;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr 1fr 2fr 2fr;
}
.top-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-column: span 2;
  border-bottom: solid #2e70ae 2px;
}
.main-content {
  border-left: solid #2e70ae 2px;
  margin-left: 10px;
  padding: 10px;
}
.contactinfo {
  padding: 10px;
  grid-row: span 3;
}
.name-title {
  justify-self: baseline;
}
.profile-image {
  width: 75%;
}
.break-line {
  border: solid #2e70ae 2px;
  border-bottom: none;
  width: 100%;
  margin: 1px;
  height: 1px;
}
