body {
  background-color: #b0e0e6;
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 10px 15%;
}

hr {
  border-style: dotted none none;
  border-color: #808080;
  border-width: 5px;
  width: 100%;
}
.cv-menu {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 13px;
  height: 13px;
}

.personligt,
.arbetslivserfarenhet,
.utbildning,
.intressen,
.referenser,
.kompetens {
  padding: 30px 20% 30px 20%;
}

.presentation {
  text-align: center;
}

.uppgifter-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 5%;
}

.uppgifter {
  text-align: center;
}

.arbetslivserfarenhet,
.utbildning {
  display: block;
}

.table-header {
  border-bottom: solid 1px;
  font-size: 20px;
  font-weight: bold;
}

.arbetslivserfarenhet h2,
.utbildning h2 {
  text-align: center;
}

.time {
  float: right;
}

.title {
  font-style: italic;
}

.intressen,
.referenser,
.kompetens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  padding: 0;
}

.kompetens-table {
  border-spacing: 10px;
}
.btn {
  background: #d19810;
  background-image: -webkit-linear-gradient(top, #cf7500, #ffe0ac);
  background-image: -moz-linear-gradient(top, #cf7500, #ffe0ac);
  background-image: -ms-linear-gradient(top, #cf7500, #ffe0ac);
  background-image: -o-linear-gradient(top, #cf7500, #ffe0ac);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #ffae00;
  background-image: -webkit-linear-gradient(top, #ffe0ac, #cf7500);
  background-image: -moz-linear-gradient(top, #ffe0ac, #cf7500);
  background-image: -ms-linear-gradient(top, #ffe0ac, #cf7500);
  background-image: -o-linear-gradient(top, #ffe0ac, #cf7500);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

table > #kompetens-body td {
  border-bottom-style: groove;
}

#profilepicture {
  width: 300px;
}

#linkedin,
#github {
  width: 30px;
}

#copyright {
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 992px) {
  body {
    padding: 0;
  }

  div {
    padding: 0;
    margin: 0;
  }
  #profilepicture {
    width: 40%;
  }

  .uppgifter-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }

  .personligt {
    text-align: center;
  }
}
